.container-fluid
    button.btn.btn.btn-warning(type='button', ng-click='removeAll()') Remove All Messages
    p(ng-if='!!message') {{message}}

    ul.list-group
        li.list-group-item(ng-repeat='user in users')
            strong {{user.name}}
            br
            span.text-muted {{user.email}}
            a.trash(ng-click='delete(user)')
                span.glyphicon.glyphicon-trash.pull-right
