md-content.md-padding(layout='column')
    md-button.remove-messages.md-raised.md-warn(type='button', ng-click='removeAll()') Remove All Messages

    md-list
        md-item(ng-repeat='user in users')
            md-item-content
                .md-tile-content
                    div.pull-left
                        h3
                            strong {{user.name}}
                        h4.text-muted {{user.email}}
                    a.trash.pull-right(ng-click='delete(user)')
                        i.fa.fa-trash-o
