md-content(flex)
    md-grid-list(md-cols-sm='2', md-cols-md='4', md-cols-gt-md='9', md-row-height-gt-md='1:1', md-row-height='16:9', md-gutter='8px', md-gutter-gt-sm='4px', class="gridListdemoDynamicTiles")
        md-grid-tile(ng-repeat='emoji in emojis', md-rowspan='{{tile.span.row}}', md-colspan='{{tile.span.col}}', ng-class='tile.background')
            md-icon(ng-bind-html="emoji.view | emoji", aria-label='Emoji')
            h3 {{emoji.name}}
