/* app css stylesheet */

/* take all available height*/
body, html, .container-fluid, div[ui-view] {
    height: 100%;
}

body {
    height: none;
    background-color: #E7E7E7;
}

md-content {
    height: 100%;
}

.box {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.fix-top {
    position: fixed;
    top:0;
}

.nornal-btn {
    width: 56px;
    height: 56px;
}

.nornal-round-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.float-btn {
    height:56px;
    width: 56px;
    position: fixed;
    bottom: 55px;
    right: 55px;
}

md-toolbar.app-toolbar > .md-toolbar-tools {
    padding: 0;
}

md-backdrop {
    position: fixed !important;
}

md-sidenav {
    position: fixed !important;
}

.menu-item {
    background: none;
    border-width: 0;
    cursor: pointer;
    display: block;
    color: #333;
    font-size: inherit;
    line-height: 40px;
    max-height: 40px;
    opacity: 1;
    margin: 0;
    outline: none;
    padding: 0px 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height, background-color, opacity;
    -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height, background-color, opacity;
    transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height, background-color, opacity;
}
.menu-item.ng-hide {
    max-height: 0;
    opacity: 0;
}
.menu-item:hover {
    color: #999;
    text-decoration: none !important;
}
.menu-item:focus {
    font-weight: bold;
    text-decoration: none !important;
}
.menu-item.menu-title {
    color: #888;
    font-size: 14px;
    padding-left: 16px;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.menu-item.menu-title:hover,
.menu-item.menu-title.active {
    color: #1976d2;
}

.menu-icon {
    background: none;
    border: none;
}

.menu-separator-icon {
    margin: 0;
}
.menu-module-name {
    opacity: 0.6;
    font-size: 18px;
}

.list-cont {
    background-color: #E7E7E7 !important;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.list-cb {
    margin: 0;
    position: relative;
    top: 15px;
    left: 19px;
}

.list-check-area {
    width:56px;
    height: 56px;
    padding:0;
    margin-right: 10px;
}
