md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left')
    div(ng-click='$mdSidenav("left").close();')
        md-toolbar(md-theme='indigo')
            h1.md-toolbar-tools Management
        md-content
            a.menu-item.menu-sub-item.md-menu-item(ui-sref='home', md-highlight='state.current.name == "main"', md-ink-ripple='#bbb', ng-if='isLoggedIn()')
                span Home
            a.menu-item.menu-sub-item.md-menu-item(ui-sref='settings', md-highlight='state.current.name == "settings"', md-ink-ripple='#bbb', ng-if='isLoggedIn()')
                span Change password
            a.menu-item.menu-sub-item.md-menu-item(ui-sref='admin', md-highlight='state.current.name == "admin"', md-ink-ripple='#bbb', ng-if='isAdmin()')
                span Admin
            a.menu-item.menu-sub-item.md-menu-item(ng-click='logout()', md-ink-ripple='#bbb', ng-if='isLoggedIn()')
                span Logout
