md-content(md-theme='indigo')

    div(ng-controller='NavigationCtrl')
        include(view="'components/navigation/header.html'")
        include(view="'components/navigation/sidebar.html'")

    div(style='padding-top: 80px;', flex='', ui-view='content')
