div(ng-include='"components/navbar/navbar.html"')

.container-fluid
    .panel.panel-primary
        .panel-heading
            form.input-group(ng-submit="addMessage(newMessage); $broadcast('form:change');")
                input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...', ng-model='newMessage', focus-on='form:change')
                span.input-group-btn
                    button#btn-chat.btn.btn-warning.btn-sm(type='submit')
                        | Send
        .panel-body
            p(ng-if='!!messages && !messages.length') There are no messages
            ul.chat(ng-repeat='message in messages | orderBy:"-createdAt"')
                li.left.clearfix(ng-if="getCurrentUser().name === message.author")
                    span.chat-img.pull-left
                        img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=ME', alt='User Avatar')
                    .chat-body.clearfix
                        .header
                            small.pull-right.text-muted
                                span.glyphicon.glyphicon-time
                                label(am-time-ago="message.createdAt")
                            .primary-font {{message.author}}
                        p(ng-bind-html="message.text | emoji")
                li.right.clearfix(ng-if="getCurrentUser().name !== message.author")
                    span.chat-img.pull-right
                        img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=YOU', alt='User Avatar')
                    .chat-body.clearfix
                        .header
                            small.text-muted
                                span.glyphicon.glyphicon-time
                                label(am-time-ago="message.createdAt")
                            .pull-right.primary-font {{message.author}}
                        p(ng-bind-html="message.text | emoji")
