md-content
    div(ng-controller='NavigationCtrl')
        include(view="'app/navigation/header.html'")
        include(view="'app/navigation/sidebar.html'")

    div(style='padding-top: 65px;', flex='', ui-view='content')
