div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
    .container
        h1 'Allo, 'Allo!
        p.lead Kick-start your next web app with Angular Fullstack
        img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
    .row
        .col-lg-12
            h1.page-header Messages:
            ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='message in messages')
                li {{message.text}} {{message.createdAt}}
                    //button.close(type='button', ng-click='deletemessage(message)') ×

    form.message-form
        p.input-group
            input.form-control(type='text', placeholder='Add a new message here..', ng-model='newMessage')
            span.input-group-btn
                button.btn.btn-primary(type='submit', ng-click='addMessage(newMessage)') Add New

footer.footer
    .container
        p
            | Angular Fullstack Chat
