span.chat-img(ng-class="{'pull-left': message.isAuthor, 'pull-right': !message.isAuthor}")
    img.img-circle(ng-src='{{message.url}}', alt='User Avatar')
.chat-body.clearfix
    .header
        small.text-muted(ng-class="{'pull-right': message.isAuthor}")
            span.glyphicon.glyphicon-time
            label(am-time-ago="message.createdAt")
        div(ng-class="{'pull-right': !message.isAuthor}").primary-font {{message.author.name}}
    p(ng-bind-html="message.text | emoji")
