md-toolbar.messages.md-whiteframe-z2.fix-top
    form.new-message(ng-submit="addMessage(newMessage); $broadcast('form:change');", layout="row")
        md-input-container.text
            label Type your message here...
            input(ng-model='newMessage', focus-on='form:change', autocomplete='off', st-autocomplete='emojis', st-at=':', st-template="app/emojis/emoji-template.html")
        md-input-container.submit
            md-button.md-primary.md-hue-1(type='submit', aria-label='Submit', ng-disabled='!newMessage')
                i.fa.fa-paper-plane-o
            md-button.md-primary.md-hue-1(aria-label='Smiles', ng-click="openEmojisDialog($event)")
                i.fa.fa-smile-o
md-content.messages.md-padding
    p(ng-if='!!messages && !messages.length') There are no messages
    md-list
        md-item(ng-repeat='message in messages', ng-class="::{'left': isAuthor(message), 'right': !isAuthor(message)}")
            message-view(message="message")
