
md-toolbar.messages {
    top: 65px;
    background-color: #ffffff;
}

md-toolbar.messages > form.new-message > md-input-container {
    padding-bottom: 5px;
}

md-toolbar.messages > form.new-message > md-input-container input {
    width: 100%;
}

md-toolbar.messages > form.new-message > md-input-container.text {
    width: 100%;
}

md-toolbar.messages > form.new-message > md-input-container.submit {
    display: list-item;
}

md-content.messages {
    padding-top: 80px;
}

message-view > md-item-content > .md-tile-content > .text-muted > .time {
    color: #3f51b5;
}

message-view > .chat-img > img {
    opacity: 0.8;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

li.user-info {
    padding-left: 15px;
}

.dropdown-menu {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
