md-toolbar.app-toolbar.md-indigo-theme.md-whiteframe-z2.fix-top
    .md-toolbar-tools(tabindex='0')
        md-button.menu-icon.nornal-btn(ng-click='$mdSidenav("left").toggle();', aria-label='Menu')
            i.fa.fa-bars
        a(ui-sref='home') Simple-talk
